<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ASPX-PHP-Integrated" path="*.php" verb="GET,HEAD,POST,DEBUG" type="System.Web.UI.PageHandlerFactory" preCondition="integratedMode" />
    </handlers>
        <rewrite>
            <rules>
                <rule name="CanonicalHostNameRule1">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^www\.luisabiauscatering\.com\.ar$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="http://www.luisabiauscatering.com.ar/{R:1}" />
                </rule>
            </rules>
        </rewrite>
  </system.webServer>
  <system.web>
    <httpRuntime requestValidationMode="2.0" />
    <compilation>
      <buildProviders>
        <add extension=".php" type="System.Web.Compilation.PageBuildProvider" />
      </buildProviders>
    </compilation>
    <httpHandlers>
      <add path="*.php" type="System.Web.UI.PageHandlerFactory" verb="*" />
    </httpHandlers>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="&quot;Servidor LuisaBiausCatering&quot; &lt;server@bizcacha.com>">
          <network host="localmailhost" password="" userName="" />
      </smtp>
    </mailSettings>
  </system.net>

</configuration>